/* ******* main-content ******* */

.main-content {
    margin-top: 60px;
  }
  
  .section-header {
    margin-bottom: 30px;
    position: relative;
  }
  
  .section-title {
    font-size: 24px;
    margin: 0;
  }
  
  /* *********************** */
  
  .padding-30 {
    padding: 30px;
  }
  
  .post .post-format {
    color: #fff;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    line-height: 54px;
    right: 20px;
    text-align: center;
    bottom: -25px;
    position: absolute;
    width: 50px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #6e72fc;
    background: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    z-index: 1;
  }
  
  .post .meta li img.author {
    margin-right: 12px;
    vertical-align: middle;
    border-radius: 50%;
  }
  
  .post.post-list-sm.square .thumb {
    max-width: 110px;
  }
  
  .post.post-list-sm.square .details {
    margin-left: 130px;
  }
  
  /* ******************* */
  
  .post.post-list-sm.before-seperator::before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
  }
  
  .post.post-list-sm.before-seperator::after {
    content: "";
    display: none;
  }
  
  /* ************** */
  
  .slick-arrows-top {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0px, -50%);
  }
  
  .slick-custom-buttons {
    color: #909090;
    font-size: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .slick-custom-buttons:hover {
    color: #ad1deb;
    border-color: #ad1deb;
  }
  
  /* -************ */
  
  .post-carousel .slick-slide {
    margin: 0px 12px;
  }
  
  .post.post-over-content {
    position: relative;
  }
  
  .post.post-over-content .thumb {
    position: relative;
    overflow: hidden;
  }
  
  .post.post-over-content .thumb::after {
    content: "";
    background: #203656;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    top: 0;
    position: absolute;
    width: 100%;
  }
  
  .post.post-over-content .details {
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
  }
  
  .post.post-over-content .post-title {
    font-size: 22px;
  }
  
  .post.post-over-content .post-title a {
    color: #fff;
  }
  
  .post.post-over-content .post-title a:hover {
    color: aliceblue;
  }
  
  .post.post-over-content .meta {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .post.post-over-content .meta li::after {
    content: "";
    background: rgba(255, 255, 255, 0.5);
  }
  
  .post.post-over-content .meta li a {
    color: rgba(255, 255, 255, 0.5);
  }
  
  /* **************** */
  
  .post.post-list {
    margin-bottom: 30px;
  }
  
  .post.post-list .thumb {
    float: left;
    max-width: 265px;
  }
  
  .post.post-list .details {
    margin-left: 295px;
  }
  
  .post.post-list .post-title {
    margin: 9px 0;
  }
  
  .post.post-list .post-bottom {
    margin-top: 9px;
  }
  
  .post.post-list .post-bottom .social-share .icons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  
  .post.post-list .post-bottom .social-share .icons::before {
    content: "";
    background: #ddd;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
  }
  
  .post.post-list .post-bottom .social-share .icons.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .post .post-bottom .social-share .toggle-button {
    font-size: 16px;
    color: #9faabb;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;
  }
  
  .post .post-bottom .social-share .icons {
    display: inline;
    vertical-align: middle;
  }
  
  .post .post-bottom .social-share .icons li a {
    color: #9faabb;
    font-size: 14px;
  }
  
  .post .post-bottom .social-share .icons li a:hover {
    color: #ad1deb;
  }
  
  .post .post-bottom .social-share .icons li:not(:last-child) {
    margin-right: 0.8rem;
  }
  
  .post .post-bottom .more-button a {
    font-size: 16px;
    font-weight: 700;
    color: #9faabb;
  }
  
  .post .post-bottom .more-button a i {
    color: #9faabb;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .post .post-bottom .more-button a:hover {
    color: #ad1deb;
  }
  
  .post.post-list::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    background: #ebebeb;
    background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
  }
  
  .post .post-format-sm {
    color: #fff;
    display: block;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    left: 20px;
    text-align: center;
    top: 20px;
    position: absolute;
    width: 30px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    z-index: 1;
  }
  
  .btn-simple {
    color: #8f9bad;
    padding: 9.5px 36px;
    background: transparent;
    border: 1px solid #ebebeb;
  }
  
  .btn-simple:hover {
    color: #ad1deb;
    border-color: #ad1deb;
  }
  
  /* ************** */
  .sidebar {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    box-shadow: none;
  }
  .rounded {
    border-radius: 10px !important;
  }
  .widget {
    border: 1px solid #ebebeb;
    padding: 35px 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  
  }
  
  
  .widget:last-child {
    margin-bottom: 0;
  }
  
  .widget .widget-header {
    margin-bottom: 30px;
  }
  
  .widget .widget-title {
    font-size: 20px;
    margin: 0;
  }
  
  .post.post-list-sm .thumb .number {
    color: #fff;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    height: 24px;
    line-height: 22px;
    left: 0;
    text-align: center;
    top: -10px;
    position: absolute;
    width: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    z-index: 1;
  }
  
  .widget ul.list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  .widget ul.list li {
    line-height: 2.8rem;
  }
  
  .widget ul.list li a {
    color: #203656;
    font-weight: 700;
  }
  
  .widget ul.list li a::before {
    color: #9faabb;
    font-family: "simple-line-icons";
    font-size: 11px;
    vertical-align: middle;
    margin-right: 25px;
    content: "";
  }
  
  .widget ul.list li a:hover {
    color: #ad1deb;
  }
  
  .widget ul.list li::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #ebebeb;
    background-image: linear-gradient(to right, #ebebeb 0%, transparent 100%);
  }
  
  .widget ul.list li span {
    float: right;
  }
  
  .widget ul.list li:last-child::after {
    content: "";
    display: none;
  }
  
  /* ****************** */
  
  .newsletter-headline {
    font-size: 15px;
    font-weight: bold;
    color: #203656;
    display: block;
  }
  
  .newsletter-privacy {
    font-size: 13px;
    display: block;
  }
  
  .btn-default {
    color: #fff;
    padding: 9.5px 36px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    background-size: 200% auto;
  }
  
  .btn-default:hover {
    color: #fff;
    background-position: right center;
  }
  
  .btn-full {
    padding: 9.5px 36px;
    width: 100%;
  }
  
  /* ***************** */
  
  .slick-arrows-bot {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }
  
  /* ****************** */
  
  .tag {
    color: #8f9bad;
    border: 1px solid #8f9bad;
    border-radius: 25px;
    font-size: 13px;
    display: inline-block;
    padding: 3px 14px;
    margin: 4px 0;
  }
  
  .tag:hover {
    border-color: #ad1deb;
    color: #ad1deb;
  }
  
  @media only screen and (max-width: 768px) {
    .scroll_sidebar {
      margin: 0;
      margin-top: 20px;
      height: 500px;
    }
    .sidebar {
      position: absolute;
      top: 10px;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      z-index: 996;
      transition: all 0.3s;
      padding: 20px;
      overflow-y: auto;
    }
    .featured-post-lg .thumb .inner {
      height: 425px;
      width: 100%;
    }
    .post.post-list .thumb {
      float: none;
      max-width: 550px;
    }
    .post.post-list .details {
      margin-left: 0;
      margin-top: 25px;
    }
    .post .meta li::after {
      content: "";
      margin-left: 0.5rem;
    }
    .post .meta li:not(:last-child) {
      margin-right: 0.3rem;
    }
    .instagram-feed .insta-item {
      text-align: center;
      margin: 2.5px 0;
    }
   
    .featured-post-lg .post-title {
      font-size: 26px;
    }
    .featured-post-lg .details {
      bottom: 30px;
      left: 30px;
      right: 30px;
    }
    .search-popup .search-content {
      padding: 0px 20px;
      width: 100%;
    }
    .post-carousel-widget .post-carousel {
      margin: 0 12px;
    }
    .post-carousel-widget .post-carousel .post-title {
      font-size: 16px;
    }
  }
  